<div class="row">
  <div class="col-8 offset-2">
    <h1>NMEA 2000 Parameter Groups</h1>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>PGN</th>
          <th>Category</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @parameter_groups.each do |parameter_group| %>
          <tr>
            <td>
              <% if parameter_group.is_known %>
                <%= fa_icon 'check-circle', class: 'text-success js-tip', title: 'Well known, verified',
                  data: {placement: 'left'} %>
              <% else %>
                <%= fa_icon 'question-circle', class: 'text-danger js-tip', title: 'Unknown, unverified',
                  data: {placement: 'left'} %>
              <% end %>
            </td>
            <td><%= parameter_group.unique_pgn %></td>
            <td><%= parameter_group.pgn_category.name %></td>
            <td><%= parameter_group.name %></td>
            <td rowspan="2">
              <div class="btn-group">
                <%= link_to 'Details', parameter_group, :type => 'button', :class => 'btn btn-sm btn-primary' %>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <%= link_to 'Edit', edit_parameter_group_path(parameter_group), class: 'dropdown-item' %>
                  <%= link_to 'Destroy', parameter_group, method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'dropdown-item' %>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="no-border"></td>
            <td class="no-border" colspan="3"><%= markdown parameter_group.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-8 col-offset-2">
    <%= link_to 'New PGN Definition', new_parameter_group_path %>
  </div>
</div>

