<h1>NMEA 2000 Parameter Groups</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Pgn</th>
      <th>Priority</th>
      <th>Default Rate</th>
      <th>Database Version</th>
      <th>Category</th>
      <th>Type</th>
      <th>Size</th>
      <th>Repeating Fields</th>
      <th>Is Known</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parameter_groups.each do |parameter_group| %>
      <tr>
        <td><%= parameter_group.name %></td>
        <td><%= parameter_group.description %></td>
        <td><%= parameter_group.pgn %></td>
        <td><%= parameter_group.priority %></td>
        <td><%= parameter_group.default_rate %></td>
        <td><%= parameter_group.database_version %></td>
        <td><%= parameter_group.pgn_category.name %></td>
        <td><%= parameter_group.pgn_type.name %></td>
        <td><%= parameter_group.size %></td>
        <td><%= parameter_group.repeating_fields %></td>
        <td><%= parameter_group.is_known %></td>
        <td><%= link_to 'Show', parameter_group %></td>
        <td><%= link_to 'Edit', edit_parameter_group_path(parameter_group) %></td>
        <td><%= link_to 'Destroy', parameter_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New PGN Definition', new_parameter_group_path %>
