<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :length %>
    <%= f.number_field :length, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :field_type_id %>
    <%= f.collection_select :field_type_id, FieldType.all, :id, :name, {:prompt => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :scaling %>
    <%= f.text_field :scaling, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :offset %>
    <%= f.number_field :offset, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :field_enumerations %>
    <%= f.collection_select :field_enumerators, FieldEnumerator.all, :id, :name, {:prompt => true}, {:multiple => true, :class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :field_unit_id %>
    <%= f.collection_select :field_unit_id, FieldUnit.all, :id, :name, {:prompt => true}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :min_value %>
    <%= f.text_field :min_value, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :max_value %>
    <%= f.text_field :max_value, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :signalk_path %>
    <%= f.text_field :signalk_path, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
