<h1>Field List</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Length</th>
      <th>Type <%= fa_icon 'question-circle', data: {toggle: "tooltip"}, title: "How the field is encoded on the wire" %></th>
      <th>Scaling</th>
      <th>Offset</th>
      <th>Units</th>
      <th>Min value</th>
      <th>Max value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.description %></td>
        <td><%= field.length %></td>
        <td><%= field.field_type.name unless field.field_type.nil? %></td>
        <td><%= field.scaling %></td>
        <td><%= field.offset %></td>
        <td><%= field.field_unit.name unless field.field_unit.nil? %></td>
        <td><%= field.min_value_typed %></td>
        <td><%= field.max_value_typed %></td>
        <td><%= link_to 'Show', field %></td>
        <td><%= link_to 'Edit', edit_field_path(field) %></td>
        <td><%= link_to 'Destroy', field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Field', new_field_path %>
